approvaltests==8.0.0
attrs==21.2.0
beautifulsoup4==4.10.0
bs4==0.0.1
certifi==2021.10.8
chardet==3.0.4
coverage==5.1
icalendar==4.0.6
idna==2.10
iniconfig==1.1.1
packaging==21.0
pluggy==1.0.0
py==1.11.0
pyparsing==2.4.7
pyperclip==1.5.27
pytest==6.2.5
python-dateutil==2.8.1
pytz==2020.1
requests==2.23.0
six==1.15.0
soupsieve==2.2.1
toml==0.10.2
urllib3==1.26.13
connexion==2.14.0
